@import './styles/variables';
// @import './styles/buttonV1'; //all buttons change
$MyColor: teal;

.DataFetchContainer {
    // @extend button;
    @include flexCenter(column);
    flex-direction: column;
    background-color: $secondaryColor;
    button {
        border: none;
        border-radius: 0.3rem;
        &:hover {
            background-color: goldenrod;
        }
    }
}